.clock {
  background: url(https://media.istockphoto.com/vectors/clock-face-blank-hour-dial-dashes-mark-minutes-and-hours-simple-flat-vector-id1014875730?k=20&m=1014875730&s=612x612&w=0&h=nIfQkKjm1DSb3aq-yZ13fIkisz48PEjnrRnggDcZC6g=);
  width: 40rem;
  height: 40rem;
  margin: auto;
  position: relative;
  background-color: green;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock .hand {
  width: 200px;
  height: 6px;
  left: 105px;
  background: black;
  background-color: red;
  position: absolute;
  top: 47%;
  transform: translate(-50%);
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand .seconds-hand {
  width: 50%;
  height: 6px;
  background: black;
}

.hand .min-hand {
  width: 40%;
  height: 6px;
  background: black;
}

.hand .hour-hand {
  width: 10%;
  height: 6px;
  background: black;
}
